/** {
    border: 2px solid yellow;

 }*/
html {
  /*background-color: #000;*/
  font-family: "helvetica", "Helvetica Neue", sans-serif;
  color: #fff;
  margin: 0;
}
.layer {
  background-color: #444;
}

input {
  height: 3em;
  margin-top: 10px;
}

.task {
  padding: 0 10px;
  margin-top: 10px;
  background-color: white;
  color: black;
}

.today {
   background-color: blue;
}