/** {
    border: 2px solid yellow;

 }*/
html {
  font-family: "helvetica", "Helvetica Neue", sans-serif;
  color: #fff;
  margin: 0;
}
.layer {
  background-color: #444;
}

input {
  height: 3em;
  margin-top: 10px;
}

.task {
  padding: 10px;
  border: 1px solid gray;
  color: black;
}

.today {
   background-color: blue;
}

input {
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 0;
}